.App {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}
body {
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Covered By Your Grace", cursive;
}
.App .Title {
  font-size: 4rem;
  padding: 0px 20px 0px 20px;
  background-color: rgb(242, 255, 123);
  border-radius: 10px;
  border: 2px solid black;
  align-self: center;
  color: #1b1b1b;
  font-family: "Covered By Your Grace", cursive;
}